@import url(./assets/colortheme.css);
:root{
  --icon-width:30px;
  --header-height:45px;
  --footer-height:50px;
  --sidebar-icon-width: 48px;
  --sidebar-width: 200px;
}
#appWrapper {
  margin: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-image: url(@public/background.jpg);
  border-radius: 8px;
}
#header, #body, #footer{
  box-sizing: border-box;
  box-shadow: 0 0 2px var(--color-background-3);
  border-radius: 8px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  height: var(--header-height);
  line-height: 1.5;

  background-color: var(--color-background-1);
}
#header > *{
  display: flex;
  align-items: center;
  flex: 1 0 0px ;
  gap: 8px;
  justify-content: center;
  &:first-child{
    justify-content: start;
  }
  &:last-child{
    justify-content: end;
  }
}
#body {
  display: flex;
  justify-items: stretch;
  overflow: hidden;

  background-color: transparent;
  backdrop-filter: blur(10px);

  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 48px);
}
#sidebar{
  box-sizing: border-box;
  overflow: hidden;
  min-width: var(--sidebar-icon-width);
  width: var(--sidebar-icon-width);
  transition-property: width, min-width;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
#sidebar.opened, #sidebar:hover{
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
}
#content{
  background-color: #ffffffaa;
}
#body > #content {
  width: calc(100% - var(--sidebar-icon-width));
}
#footer {
  height: var(--footer-height);
  border-top: 1px solid var(--color-border);
  padding: 8px;
  padding-top: 16px;
  background-color: var(--color-background-1);
  display: flex;
  grid-column: 3;
  align-items: end;
}
#search{
  width: 100%;
  padding: 8px 24px;
  background-color: transparent;
  transition: (transform, padding) .5s ease-in-out;
  font-size: 12px;
  line-height: 8px;
  color: #575756;
  background-color: transparent;
  background-image:url(./assets/search.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transition: (transform, padding) .5s ease-in-out;
  -moz-transition: (transform, padding) .5s ease-in-out;
  -ms-transition: (transform, padding) .5s ease-in-out;
  -o-transition: (transform, padding) .5s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#search::placeholder{
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#search:hover, #search:focus{
  padding: 12px 12px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
nav-navbar > *{
  padding: 3px 16px;
  background-color: var(--color-background-2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid var(--color-text-1);
}

.logo {
  width: var(--icon-width);
  height: var(--icon-width);
  margin: 0;
  max-height: calc(var(--header-height) - 8px);
}

nav-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: var(--sidebar-width);
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}
nav-sidebar > a , nav-sidebar > a:hover{
  border-radius: 8px 0 0 8px;
  background-color: #d3d3d3;
  transition: background-color .5s ease-in-out;
  display: flexbox;
  width: var(--sidebar-width);
  height: var(--sidebar-icon-width);
  align-items: center;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
}
nav-sidebar > a.router-link-exact-active {
  box-shadow: 0 0 5px var(--color-background-5);
  background-image: linear-gradient(to right, #fff, #ffffffaa);
  background-color: transparent;
  border-top-left-radius: 300px;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  
  &:hover{
    cursor: default;
  }
}

nav-sidebar > a {
  display: flex;
  }

nav-sidebar > a > div{
  display: inline-block;
}

nav-sidebar > a > svg{
  width: var(--sidebar-icon-width);
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}
#footer > * {
  flex: 1 1 1px;
  text-align: center;
}
@media only screen and (max-width: 720px) {
  #appWrapper {
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}