:root{
  --color-text-1:#000000;
  --color-text-2:#252525;
  --color-text-3:#434343;
  --color-text-4:#7f7f7f;
  --color-text-5:#929292;
  --color-background-1:#fff;
  --color-background-2:#d1d1d1;
  --color-background-3:#ababab;
  --color-background-4:#707070;
  --color-background-5:#414141;
  --color-border: rgb(215, 215, 215);
}